<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjj.usercenter.mapper.UserInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjj.usercenter.model.UserInfo">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="roles" property="roles" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="introduction" property="introduction" />
        <result column="creat_date" property="creatDate" />
        <result column="creat_by" property="creatBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="is_deleted" property="isDeleted" />
        <result column="version" property="version" />
    </resultMap>

    <select id="getUserInfoByUserId" resultMap="BaseResultMap" resultType="com.cjj.usercenter.model.UserInfo">
        SELECT * FROM user_info WHERE userid = #{userid} and is_deleted = 0;
    </select>
</mapper>
