<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjj.usercenter.mapper.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cjj.usercenter.model.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="openId" property="openid" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="is_deleted" property="isDeleted" />
        <result column="version" property="version" />
    </resultMap>

    <select id="selectUserByNameAndPassword" resultMap="BaseResultMap" >
        SELECT * FROM user WHERE username = #{username} and password = #{password} and is_deleted = 0;
    </select>

</mapper>
